@charset 'utf-8';
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

.spoka * {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.32px;
  line-height: 1.4;
  color: #888;
}

/* 공통(재사용) */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

/* float를 해제 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.pop-close {
  position: absolute;
  right: 13px;
  top: 22px;
  display: block;
  width: 45px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}

.pop {
  position: relative;
  display: block;
  background-image: radial-gradient(circle at 50% 527%, #ff896a, #e23000 119%);
  width: 100%;
  min-width: 1184px;
  height: 60px;
}


/* 안내창 */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.modal-wrap .fa {
  position: absolute;
  display: block;
  top: 24%;
  right: 37%;
  font-size: 130px;
  color: rgba(250, 19, 19, 0.1);
  z-index: -9;
}

.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  height: 220px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(207, 174, 197, 0.212);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-main h1 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #555;
  padding-top: 10px;
}

.modal-main p {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  padding: 20px;
}

.modal-main b {
  font-weight: 600;
  color: #ff4a50;
}

.modal-main strong {
  font-weight: 500;
  font-size: 17px;
  padding: 2px;
  line-height: 16px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 16px;
  top: 16px;
  border: 0;
  cursor: pointer;
  background: url('../images/cancel.png') no-repeat center;
  background-size: cover;
  transition: transform 0.5s;
}

.modal-close:hover {
  transform: rotate(90deg);
}


/* header */
.header {
  position: sticky;
  top: 0;
  display: block;
  background-color: #000000;
  width: 100%;
  min-width: 1184px;
  height: 96px;
  z-index: 888;
}


.header .gnb-left {
  position: relative;
  display: block;
  width: 50%;
  height: 96px;
}

.header .gnb-left .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  display: inline-block;
  width: 129px;
  height: 48px;
  background: url('../images/logo.svg') no-repeat center;
  background-size: contain;
  font-size: 0;
}

.header .gnb-left .shopping {
  position: absolute;
  display: block;
  transform: translateY(-50%);
  right: 28%;
  bottom: 23%;
}

.header .gnb-left .shopping li {
  position: relative;
  display: block;
  float: left;
}

.header .gnb-left .shopping li a {
  position: relative;
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-right: 24px;
}

.header .gnb-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 96px;
  display: block;
  /* border :1px solid red; */
}

.header .gnb-inner-left {
  position: relative;
  display: block;
  height: 100%;
  /* border :1px solid yellow; */
}

.header .gnb-right .notice {
  position: absolute;
  right: 120px;
  top: 42px;
  display: block;
  float: left;
  /* border: 5px solid yellowgreen; */
}

.header .gnb-right .notice li {
  position: relative;
  display: block;
  float: left;

}

.header .gnb-right .notice li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #fff;
  margin: 0 7px;
}

.header .gnb-right .notice .line {
  background-color: #fff;
  width: 1px;
  height: 12px;
  margin: 4px 12px;
}

.header .gnb-right .basket {
  display: block;
  position: absolute;
  top: 25px;
  right: 55px;
  background: url('../images/장바구니.svg') no-repeat center;
  background-size: cover;
  width: 48px;
  height: 48px;
  float: left;
  margin-left: 15px;
}

.header .gnb-right .menu {
  display: block;
  position: absolute;
  top: 25px;
  right: 0px;
  background: url('../images/전체보기.svg') no-repeat center;
  background-size: cover;
  width: 48px;
  height: 48px;
  float: left;
  margin-left: 2px;
}


/* visual */
.visual {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1184px;
  height: 560px;
}

.gallery {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1184px;
  height: 560px;
  background: url('../images/visual.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}

/* event */
.event {
  position: relative;
  display: block;
  margin-top: 50px;
  height: 176px;

}

.event-left {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 176px;

}

.swiper-wrapper .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 176px;
}

.swiper-wrapper .swiper-slide .sw-visual-1 {
  background: url('../images/banner1.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-2 {
  background: url('../images/banner2.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-3 {
  background: url('../images/banner3.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-4 {
  background: url('../images/banner4.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-5 {
  background: url('../images/banner5.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-6 {
  background: url('../images/banner6.png') no-repeat center;
  background-size: cover;
}

.swiper-wrapper .swiper-slide .sw-visual-7 {
  background: url('../images/banner7.png') no-repeat center;
  background-size: cover;
}


/* swiper button */
.event-left-cotrol {
  position: absolute;
  left: 8px;
  top: 136px;
  z-index: 9;
  width: 103px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 2px;

}


.event-left-prev {
  position: absolute;
  left: 0;
  bottom: 23%;
  display: block;
  background: url('../images/swiper-button.svg') no-repeat center;
  background-size: cover;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  transform: rotate(180deg);
  z-index: 99;
}

.event-left-pg {
  position: relative;
  margin-top: 16px;
  font-size: 13px;
  line-height: 14px;
  width: 50px;
  text-align: center;
}


.event-left-next {
  position: absolute;
  right: 0;
  bottom: 23%;
  display: block;
  background: url('../images/swiper-button.svg') no-repeat center;
  background-size: cover;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  z-index: 99;
}


.event-right {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 176px;
}

.event-right>a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/delivery.png') no-repeat center;
  background-size: cover;
  font-size: 0;
}


/* event 반응형 */
@media all and (max-width: 1190px) {
  .event-left {}
}



/* items */
.items {
  position: relative;
  display: block;
  margin-top: 90px;

}

.items .inner h5 {
  position: relative;
  display: block;
  font-size: 32px;
  color: #000;
  margin-bottom: -32px;
  /* border: 3px solid red; */
}

.items .inner .best-items {
  position: relative;
  display: block;
  height: 1032px;
  width: 100%;
  /* border: 3px solid blue; */
}

.items .inner .best-items li {
  position: relative;
  display: block;
  width: 376px;
  height: 416px;
  float: left;
  /* border: 3px solid yellow; */
  margin-bottom: 120px;
}

.items .inner .best-items li:nth-child(2),
.items .inner .best-items li:nth-child(5) {
  margin: 0 25px;

}

.items .inner .best-items .depth1 {
  position: relative;
  display: block;
}

.items .inner .best-items .depth1 .meat {
  position: relative;
  display: block;
  width: 100%;
  height: 416px;
  background-color: #f9f7f8;
  /* border: 3px solid red; */
}

.items .inner .best-items .depth1 .meat img {
  position: relative;
  display: block;
  width: 276px;
  height: 276px;
  margin: 70px 0 0 50px;
}

.items .inner .best-items .depth1 .meat-basket {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: block;
  width: 72px;
  height: 72px;
  box-shadow: 0 25px 10px -15px rgb(0 0 0 / 12%);
  border: 2px solid #eee;
  border-radius: 50%;
  background-color: #fff;
  background: url('../images/담기.svg') no-repeat center;
  background-size: cover;
}

.items .inner .best-items .depth1 .meat-basket img {
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
}

.items .inner .best-items .depth1 .meat-basket:hover {
  background: url('../images/white-cart.svg') no-repeat center;
  background-size: cover;
  background-color: #000;
}

.items .inner .best-items .depth1 .antibiotic {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
}

.items .inner .best-items .depth1 .antibiotic img {
  position: relative;
  display: block;
  width: 75px;
  height: 30px;
}

.items .inner .best-items .depth2 {
  position: relative;
  display: block;
}


.items .inner .best-items .depth2 h6 {
  position: relative;
  display: block;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}

.items .inner .best-items .depth2 p {
  position: relative;
  display: block;
  font-size: 16px;
  color: #9b9b9b;

}

/* banner */
.banner {
  position: relative;
  display: block;
}

.banner .inner a {
  position: relative;
  display: block;
  width: 100%;
  height: 208px;
  background: url('../images/go-shopping.png') no-repeat center;
  background-size: contain;
  margin: 150px 0;
}

/* footer */
.footer {
  position: relative;
  display: block;
}

.footer-line {
  position: relative;
  display: block;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #eee;
}

.footer-depth1 {
  position: relative;
  display: block;
}

.footer-depth1 .inner .footer-depth1-left {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 64px;

}

.footer-depth1 .inner .footer-depth1-left li {
  position: relative;
  display: block;
  float: left;
  margin-top: 25px;

}

.footer-depth1 .inner .footer-depth1-left li a {
  position: relative;
  display: block;
  margin-right: 23px;
  font-size: 14px;
}

.footer-depth1 .inner .footer-depth1-right {
  position: relative;
  display: block;
  float: right;
}

.footer-depth1 .inner .footer-depth1-right li {
  position: relative;
  display: block;
  float: left;
}


.footer-depth1 .inner .footer-depth1-right li a {
  position: relative;
  display: block;
}

.footer-depth1 .inner .footer-depth1-right .app {
  position: relative;
  width: 128px;
  height: 40px;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 13px;
  text-align: right;
  color: #212121;
  letter-spacing: -.41px;
  line-height: 15px;
  padding: 8px 10px;
  margin: 12px 10px;
}


.footer-depth1 .inner .footer-depth1-right .kakao {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  background: url('../images/kakao.svg') no-repeat center;
  background-size: contain;
  margin: 17px 10px;
}


.footer-depth1 .inner .footer-depth1-right .insta {
  position: relative;
  width: 24px;
  height: 24px;
  display: block;
  background: url('../images/insta.svg') no-repeat center;
  background-size: contain;
  margin: 17px 10px;
}

.footer-depth2 {
  position: relative;
  display: block;
  padding: 10px 0 0 0;
}

.footer-depth2 .inner {
  position: relative;
  display: block;
}

.footer-depth2 .footer-depth2-left {
  position: relative;
  display: block;
  color: #212121;
  float: left;
  width: 50%;
}


.footer-depth2 .footer-depth2-left img {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 82px;
  height: 32px;
}

.footer-depth2 .footer-depth2-left .copyright {
  position: absolute;
  top: 50px;
  left: 0;
  display: block;
  color: #212121;
  font-size: 13px;
}

.footer-depth2 .footer-depth2-left .copyright p {
  position: relative;
  display: block;
  margin: 6px 6px 6px 0;
}

.footer-depth2 .footer-depth2-left .copyright p:last-child {
  margin-bottom: 20px;
  font-size: 12px;
}

.footer-depth2 .footer-depth2-left .copyright span {
  position: relative;
  margin: 0 5px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
}

.footer-depth2 .footer-depth2-left .copyright .find {
  color: #4BB8CE;
}


.footer-depth2 .footer-depth2-right {
  position: relative;
  display: block;
  float: right;
}

.footer-depth2 .footer-depth2-right h6 {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: right;
  line-height: 14px;
}

.footer-depth2 .footer-depth2-right h3 {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: right;
  line-height: 24px;
}

.footer-depth2 .footer-depth2-right p {
  position: relative;
  display: block;
  text-align: right;
}

.footer-depth2 .footer-depth2-right .call {
  position: relative;
  display: block;
  margin: 10px 0;
}

.footer-depth2 .footer-depth2-right .call>p {
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  margin: 8px 0;
}

.footer-depth2 .footer-depth2-right .call>p>a {
  color: #4BB8CE;
  font-size: 13px;
  line-height: 13px;
}

.footer-depth2 .footer-depth2-right button {
  position: relative;
  display: block;
  float: left;
  width: 88px;
  height: 32px;
  border: 1px solid #212121;
  border-radius: 4px;
  background-color: #fff;
  font-size: 13px;
  cursor: pointer;
  margin: 3px 0px 3px 10px;
}